{# src/OC/CoreBundle/Resources/views/Admin/index.html.twig #}

{% extends "OCCoreBundle:Admin:layout.html.twig" %}

{% block title %}
  Index
{% endblock %}

{% block body %}

  <h2>Créer une page</h2>

{{ include("OCCoreBundle:Admin:form.html.twig") }}


{% endblock %}
